# This gitignore will ensure that only world and characters are backed up
# It should be placed in the same folder that contains worlds folder
#
#

/[Cc]aptures/
/[Rr]ersource[Pp]acks/
/[Mm]od[Ll]oader/

# Ignore the config files
*.json
*.dat
ModLoader/Logs/client.log
ModLoader/Logs/client.log
TEditLog.txt
